@import url("form.css");



li{
  list-style:none;
}

a{
  text-decoration:none;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-size: 3em;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

p{
  font-size: 1.2em;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

/* .roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.container{
  max-width: 1200px;
  margin: 0 auto;
}

header{
  background-color: #303131;
}

.menu {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items:center;
}

.menu_info{
  min-width: 400px;
}

.logo{
  color:#fff;
}

/*.icon:nth-child(2){
  padding:10px 0px;
}*/

.corection{
  display:flex;
}

.corection .icon:last-child{
  padding-left:3%;
}

.timeWork{
  display:flex;
}

.icon{ 
  display:flex;
  align-items:center;
  
 }

 .icon p{
  font-size: 1em;
  color:#fff;
 }

 .icon svg{
  padding-right: 5%;
  width: 35px;
 }

 .feedback{
  color:#fff;
  display:flex;
  align-items:center;
 }

 .feedback img{
  width:30px;
 }

  .feedback p{
    font-size:1em;
  }

    .feedback a{
    padding-left:3%;
  }

/*nav{
  display:flex;
}

ul{
  display: flex;
}

ul li { list-style: none;}
li a{text-decoration: none; }

ul li:not(:first-child){
  padding-left: 5%;
}*/



.content{
  height: 100vh;
  background-image: url('../img/bc audi.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  color: white;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.main_wrap{
  padding-right:1%;
  margin-top: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_wrap h1{
  text-transform: uppercase;
  font-size: 5em;
}


.information{
  text-align: right;
  font-size: 2EM;
}




.information_con{
  padding: 6% 0;
}

.information_box1 h1{
  text-align: center;
  padding-bottom: 3%;
}

.information_box1 p{
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.information_box2{
  display: flex;
  text-align: center;
  margin-top: 3%;
  /* flex-wrap: wrap; */
}

.information_box2 p:first-child{
  padding: 5% 0;
}

.information_box2 p:last-child{
  font-size: 1em;
  text-align: justify;
  max-width: 380px;
  margin: 0 auto;
  padding: 0px 15px;
}

.Benefit_content{
  background-image: url('../img/bgbenefit.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  color: white;
  text-align: center;
}

.Benefit_content h1{
  padding-top: 17%;
  padding-bottom: 13%;
}

.Benefit_btn{
  margin: 0;
  margin-bottom: 7%
}

.auc{width: 65px;}

/*.ship{width: 72px }*/

.line_break{
  display: flex;
  justify-content: space-evenly;
}







/*стилизация карточек*/






.colectionAuto{
  background-color:#1C1C1C;
}

.colectionAuto h1{
  text-align:center;
  color:#FFF;
  padding-top: 5%;
}

.colectionAuto p{
    margin-top: 1%;
    color: red;
    font-weight:bold;
}

.wrap_autoElement{
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.autoElement{
  margin-top: 5%;
}

/* Определяем стили для контейнера карточки (card) */
.card {
  width: 400px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
}

/* Определяем стили для внутреннего контейнера карточки (card-inner) */
.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s; /* Эффект переворота */
}

/* Определяем стили для лицевой и обратной сторон карточки (card-front и card-back) */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
/*  display: flex;
  justify-content: center;
  align-items: center;*/
  flex-direction: column;
  padding: 5px;
  border-radius: 20px;
    background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  
}

/* Стили для лицевой стороны карточки */
.card-front {
/*box-shadow: inset 400px 20px 20px 20px rgba(0, 0, 0, 0.1);*/
}

.card-front > h3 {
  font-size: 30px;
  font-weight: bold;
  color: red;
  text-decoration: underline;
  /* Смещаем подчёркивание на 20 пикселей вниз */
  text-underline-offset: 5px;
  text-decoration-thickness: 4px;
  text-decoration-color: red;
}

/* Стили для обратной стороны карточки */
.card-back {
  transform: rotateY(180deg); /* Эффект переворота обратной стороны */
  background-size: 100%;
  box-shadow: inset 400px 20px 20px 20px rgba(0, 0, 0, 0.4);
}

.card-back > h3 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 4%;
}

.card-back > p {
  color: #fff;
  margin-bottom: 20px;
}

/* Эффект переворота при наведении курсора на карточку */
.card:hover .card-inner {
  transform: rotateY(180deg);
}


.equinox {
  background-image: url("../img/collection/chevrolet eq21.jpg");
}

.terrain {
  background-image: url("../img/collection/terrain.jpg");

}

.EcoSport{
  background-image: url("../img/collection/FORD_ECOSPORT.jpeg");
}

.X3{
  background-image: url("../img/collection/X31.jpg");
}

.Escape{
  background-image: url("../img/collection/ford1.jpg");
}

.Encore{
  background-image: url("../img/collection/encore1.jpg");
}

.Jetta{
  background-image: url("../img/collection/Jetta1.jpg");
}

.XC60{
  background-image: url("../img/collection/XC601.jpg");
}

.Taos{
  background-image: url("../img/collection/Taos1.jpg");
}

.Malibu{
  background-image: url("../img/collection/Malibu.jpg");
}

.Q5{
  background-image: url("../img/collection/Q51.jpg");
}

.X5{
  background-image: url("../img/collection/x51.jpg");
}

.footer{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #000;
}

.footerWrap{
  display: flex;
  justify-content:space-around;
  color:fff;
  
}

.fooretWrap_element{
  display:flex;
  flex-direction:column;

}

.fooretWrap_element p{
    color:#fff;
}

.fooretWrap_element p:nth-child(2){
    padding-top: 5%;
}

.fooretWrap_element p:nth-child(3){
    padding-top: 5%;
}

.footer_title{
  font-size:1.5em;
  font-weight: bold;
}

@media  (max-width: 1670px) {

.content{height:100%;}
.main_wrap{
  margin-top: 9%;
  margin-bottom: 25%;
}


}



@media (min-width: 1576px) and (max-width: 1900px) {
    .main_wrap {
      padding-right:3%;
    }

    .main_wrap h1 {
    font-size: 4em;
    }
 }

 @media (min-width: 1401px) and (max-width: 1575px) {
    .main_wrap {
      padding-right:5%;
    }

    .main_wrap h1 {
    font-size: 3.5em;
    }
 }

  @media (min-width: 1256px) and (max-width: 1401px) {
    .main_wrap {
      padding-right:1%;
      margin-bottom: 14%;
    }

    .main_wrap h1 {
    font-size: 3.5em;
    }
 }

   @media (min-width: 1081px) and (max-width: 1255px) {
    .main_wrap {
      margin-top: 4%;
      padding-right:1%;
      margin-bottom: 14%;
    }

    .main_wrap h1 {
    font-size: 3em;
    }
 }


    @media (min-width: 901px) and (max-width: 1081px) {
    .main_wrap {
      margin-top: 3%;
      padding-right:2%;
      margin-bottom: 14%;
    }

    .main_wrap h1 {
    font-size: 2.5em;
    }
 }

     @media (min-width: 776px) and (max-width: 900px) {

    .information_con {
    padding: 2% 0;
    }

    .Benefit_content h1 {
    padding-top: 15%;
    padding-bottom: 12%;
    }
    .card {
    padding: 0 10px;
    }

    .main_wrap {
      margin-top: 3%;
      padding-right:1%;
      margin-bottom: 14%;
    }

    .main_wrap h1 {
    font-size: 2em;
    }
 }



      @media  (/*(min-width: 651px) */ max-width: 775px) {

    h1{
      font-size: 2em;
    }

    p{
      font-size: 1em;
    }

    .information_con {
       padding: 1% 0;
    }

    .information_box1 h1 {
       padding-bottom: 1%;
    }

    .information_box2 {
      margin-top: 1%;
    }

    .information_box2 p:first-child {
       padding: 1% 0;
    }

    .main_wrap {
      margin-top: 3%;
      padding-right:2%;
      margin-bottom: 5%;
    }

    .main_wrap h1 {
      font-size: 1.6em;
    }

    .footer {
      padding: 2% 5%;
    }

    .footerWrap {
      justify-content: space-between;
      flex-wrap: wrap;
    }



 }


@media  (/*(min-width: 501px) */ max-width: 650px) {

  .main_wrap h1 {
    font-size: 1.5em;
  }

  .btn {
    padding: 3px 14px;
    font-size: 19px;
  }

  .information_box2 {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 250px;
    height: 300px;
    padding: 0px 5px;
  }

  .menu_info {
    display: flex;
    flex-direction: column;
    min-width: unset;

/*    align-items: center;*/
  }

  .corection {
    flex-direction:column;
    flex-wrap: wrap;
  }

  .corection .icon:last-child {
    padding-left: 0%;
  }

  .menu_info {
        align-items: inherit;
  }

  .main_wrap {
        margin-top: 6%;
        margin-bottom: 13%;
    }

}

@media  (/*(min-width: 300px) */ max-width: 565px) {
  .main_wrap h1 {
    font-size: 1.3em;
  }
}

@media  (/*(min-width: 300px) */ max-width: 500px) {
  
  .main_wrap h1 {
    font-size: 1.2em;
  }

  .autoElement {
    margin-top: 2%;
  }

  .card {
    width: 350px;
  }

}

@media  (/*(min-width: 300px) */ max-width: 450px) {
  
  .main_wrap h1 {
    font-size: 1em;
  }

}

@media  (/*(min-width: 300px) */ max-width: 380px) {
  
  .main_wrap h1 {
    font-size: 0.9em;
  }

.btn {
        padding: 2px 4px;
        font-size: 16px;
    }


}

@media  (/*(min-width: 300px) */ max-width: 330px) {
  
  .main_wrap h1 {
    font-size: 0.8em;
  }

  .main_wrap {
    margin-top: 9%;
    margin-bottom: 17%;
    padding-right:0;
  }



   

.btn {
        padding: 2px 4px;
        font-size: 16px;
    }


}